@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/* profile */

.profile {
  padding: 20px;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile {
  margin-top: 60px;
}
.avatar {
  margin-bottom: 40px;
}
.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.share img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10%;
  right: 10%;
  border: 1px dotted #9fa0a3;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}
.share:hover {
  background-color: #667085;
  color: #eaecf0;
  transition: all 0.3s ease-in-out;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*  links*/
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}
.links a {
  background: #eaecf0;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.links a:hover {
  background: #667085;
  outline: 1px solid black;
  transition: all 0.3s ease-in-out;
}

sub {
  text-align: center;
}

.link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.desktop {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.mobile p {
  position: absolute;
  right: 10%;
  top: 0;
  border: 1px dotted #9fa0a3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 4px;
  color: #9fa0a3;
  cursor: pointer;
}
.mobile p:hover {
  background-color: #667085;
  transition: all 0.3s ease-in-out;
  color: #eaecf0;
}

/* footer */
.footer {
  margin-top: 120px;
}
.link-footer .icons {
  display: flex;
  gap: 12px;
}
.link-footer img {
  width: 30px;
  height: 30px;
}
hr {
  max-width: 80%;
  margin: auto;
  background: #eaecf0;
}
.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 12px;
}
.logos p {
  margin-top: -40px;
  margin-left: 10px;
}
.ingressive img {
  width: 150px;
}
.logos img {
  width: 150px;
}
@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .logos {
    justify-content: space-evenly;
    align-items: center;
    color: #9fa0a3;
    font-weight: 500;
  }
}
